
@font-face {
        font-family: 'SEGA LOGO FONT';
        font-style: normal;
        font-weight: normal;
        src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
        }
h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: hsl(0, 95%, 24%);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large; 
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.3s, cursor 0.3s;
}
h2:hover{
    color: rgba(212, 2, 2, 1);
    cursor: pointer;
}

